<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a17124d0-d617-44c3-9f88-5b4eb4a53e41/resourceGroups/venteur-knight-move/providers/Microsoft.Web/sites/knight-solve</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://knight-solve.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://knight-solve.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$knight-solve</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>